
# konfigurace služeb poskytovaných balíčkem
# tento config se nahrává před configy aplikace, proto mohou být nastavení aplikací změněny

parameters:
	repositories:
		articles: Clevis\Articles\ArticlesRepository

services:
	articlesRepository:
		class: %repositories.articles%
		factory: @orm::getRepository(articles)
